In [1]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("data.csv")
display(df)

,region,city,month,year,rainfall(mm),temperature(celsius),sanitation_Index,water_quality_index,population_density,waste_management_score,cholera_cases,typhoid_cases,cholera_outbreak,typhoid_outbreak
0,Greater Accra,Accra,8,2014,210.5,26.2,22.5,55.1,2300,15.0,920,52,1,1
1,Greater Accra,Accra,9,2014,235.2,26.0,22.0,52.3,2300,14.5,1050,65,1,1
2,Greater Accra,Accra,10,2014,180.1,26.5,23.1,54.0,2300,15.2,750,40,1,1
3,Greater Accra,Accra,7,2014,195.3,25.9,21.8,53.2,2300,14.0,620,35,1,1
4,Central,Cape Coast,8,2014,175.4,26.1,30.2,60.5,1100,20.1,310,22,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Upper West,Wa,1,2017,8.9,29.1,24.2,73.2,110,19.8,2,5,0,0
206,Brong Ahafo,Sunyani,2,2017,38.1,28.0,39.8,81.8,300,30.8,0,0,0,0
207,Western,Sekondi-Takoradi,3,2017,50.0,28.2,41.0,81.0,1000,36.0,0,1,0,0
208,Volta,Ho,3,2017,62.1,28.3,39.2,79.5,460,29.0,1,1,0,0
209,Central,Awutu-Efutu-Senya,4,2017,75.3,28.4,35.2,75.2,920,28.0,0,2,0,0